cp qsub_itXX.csh @INSTALLPATH/MITgcm/verification/global_pcb_llc90/run/qsub_itXX.csh
qsub @INSTALLPATH/MITgcm/verification/global_pcb_llc90/run/qsub_itXX.csh

cp sendgcm.sh @INSTALLPATH/MITgcm/verification/global_pcb_llc90/run/sendgcm.sh
qsub @INSTALLPATH/MITgcm/verification/global_pcb_llc90/run/sendgcm.sh

cp runonce.sh @INSTALLPATH/GEOS-Chem/run/runonce.sh
qsub @INSTALLPATH/GEOS-Chem/run/runonce.sh

cp sendgeos.sh @INSTALLPATH/GEOS-Chem/run/sendgeos.sh
qsub @INSTALLPATH/GEOS-Chem/run/sendgeos.sh
#qsub @INSTALLPATH/example.sh