#!/bin/tcsh
cd @INSTALLPATH
echo 'Waiting for errors to clean up...'
while (( ! -e GEOS-Chem/run/ERROR ) && ( ! -e GEOS-Chem/run/STOP ))
    sleep 10
    echo -n '.'
end
if ( -e GEOS-Chem/run/ERROR ) then
    echo 'ERROR Found! Killing jobs'
    foreach job (`cat JOBIDS`)
	set id = ($job:as/./ /)
	qdel $id[1]
    end
endif
exit 0

